// Website theme colors.
$Midnight-Blue: #003b6d;
$Blue-Sky: #6699cc;
$Dim-Gray: #676767;
$Silver: #bdbdbd;
$Black: #080808;

// Bootstrap colors.
$primary: $Blue-Sky;
$secondary: $Silver;
$light: $Silver;
$black: $Black;
  
// Increase default font size.
$font-size-root: 24px;

// Navbar
$navbar-light-color: $Black;
$navbar-light-hover-color: $Midnight-Blue;
$navbar-light-active-color: $Midnight-Blue;
$navbar-light-disabled-color: $Dim-Gray;

// Enable negative margins.
$enable-negative-margins: true;

// Bootstrap import
@import "../../node_modules/bootstrap/scss/bootstrap";

// Bootstrap Post-Setup

// Navbar
.navbar-brand img {
  width: $nav-link-height;
  height: $nav-link-height;
}

// Consultation button
.btn-outline-primary {
  color: $Black !important;
  border-color: $Black !important;
}

.btn-outline-primary:hover {
  color: $Midnight-Blue !important;
  border-color: transparent !important;
}

// Footer
.footer-rule {
  height: 0px;
}
